.form-hd {
	margin-top:@line-height-computed;
	border-bottom:1px solid @gray-lighter;
	padding-bottom:4px;
}
.control-label {
	font-weight:bold;
	font-size:@font-size-base;
}
.arrayFieldPanel  {
	.panel-heading {
		text-transform:capitalize;
		font-weight:bold;
		background:transparent;
		border:0;
	}
	.panel {
		border:0;
		box-shadow:0 0 0;
	}
}