.jumbotron {
	
	margin-bottom:0;
	&.home {
		background: url(/home_header.jpg) center center no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
	&.signup {
		background:transparent;
	}
	h1 {
		font-family: 'Open Sans Condensed', sans-serif;
	  	font-weight: 700;
	  	text-transform:uppercase;
	  	font-size:62px;


	}
	h1, h2 {
		color: @white;
	}
	&.signup h1, &.signup h2 {
		color: @gray-dark;
	}
	h2 {
		margin-bottom:40px;
	}
	.home-leader-btn {
		min-width:280px;
		margin:20px;
	}
}

.home-row {
	padding: 50px 0;
}
@media (max-width:768px) {
	.home-row-1 {
		.media-left {
			display:block;
			text-align:center;
			margin:0 auto;
		}
		.media-object {
			margin: 0 auto;
			text-align:center;
		}
	}
}
.home-row-2 {
	background: #38999A;
	color: @white;
	.lead {
		color: @white;
	}
	ol.lead li {
		padding-bottom:10px;
	}
}

.home-row-3 {
	background: @brand-warning;
	color: @white;
	.lead {
		color: @white;
	}
}
@media (max-width:600px) {
	.jumbotron {
		h1 {
			font-size:55px;
		}
	}
}