.well-info {
	background: lighten(@brand-info, 25%);
}
.label-link, .label-link:hover {
	color: @white;
}
.block {
	display:block;
}

.delete {
  color: @brand-danger;
}
/* spacing */

.m-t-lrg {
  margin-top: @margin-base * 2;
}

.m-t {
  margin-top: @margin-base;
} 
.m-b {
  margin-bottom: @margin-base;
}

.pre {
  white-space: pre-wrap;
}
.separator {
  margin: 40px 0 30px 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: @gray-lighter;
}
.homepageLayout {
  margin-bottom:50px;
}
/*-------------------------------------------------- */

.badge-info {
  color: @white;
  background-color: @brand-info;
}

.label-mini {
  font-size: (@font-size-tiny * 1.1);
  padding: 1px @padding-xs-vertical;
  top:-2px;
  position:relative;
}

.list-group {
  font-size:@font-size-base;
  font-weight:400;
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
} 

/* media object responsive */
@media (max-width: 600px) {
  .media {
    width:100%;
    .media-left {
      display:block;
      .label {
        display:inline;
      }
    }
    .media-body {
      width:100%;
    }
  }
}

.Companies .media-object, .Salespeople .media-object, 
.Company .media-object, .Profile .media-object, .Salespeople .avatar img{
    max-width:150px;
}