.well-info {
	background: lighten(@brand-info, 25%);
}
.label-link, .label-link:hover {
	color: @white;
}
.block {
	display:block;
}

.delete {
  color: @brand-danger;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: @gray-lighter;
}
/*-------------------------------------------------- */
.navbar-brand {
    max-width: 50%;
}

.header-nav .navbar-nav > li > a {
  line-height:51px;
}
.header-nav {
  min-height:76px;
}

.badge-info {
  color: @white;
  background-color: @brand-info;
}