<template name="companyLanding">

   <div class="jumbotron home">
       <div class="container">
            <div class="col-md-9 col-md-offset-3">
                <h1><i class="fa fa-check-square-o"></i> Product Launched </h1>
                <h1><i class="fa fa-square-o"></i> Get customers</h1>

                <h2>We Help You Get New Sales Quickly.  <br />Don't Pay to Fill Desks, Pay For Results.</h2>

            </div>
       </div>
    </div>

      <div class="home-row-1 home-row">
        <div class="container">
          <div class="col-sm-12">

                <!--<div class="col-sm-2"><img src="/computer.png" alt=""></div>-->
                <div class="col-sm-2">
                    <a href="/company/signup/">
                          <img class="media-object" src="/Tablet-Chart-128.png" alt="" />
                        </a>
                </div>
                <div class="col-sm-10">
                    <h3><b>Your New Product Launched.  Now What?</b></h3>
                        <p class="lead">You need to get big new accounts quickly so you can take your business to the next level. 

                        More companies fail from a lack of customers than from a lack of product development. Don't let this happen to you.  </p>

                        <h3><b>Unleash a Crowd of Sales Rockstars!</b></h3>
                        <p class="lead">Why bother with the cost, time, and risk of hiring a sales staff?</p>

                        <div class="row">
                        <div class="col-md-6">
                          <p class="lead"> Connect with experienced sales professionals specializing in your industry and target markets. They've already worked hard to build trusted contacts who will be excited about your product. </p>
                        </div>
                        {{>featuredSalesPeopleWidget}}
                      </div>
                        
                        <p class="lead"> Arrange pay-per-lead or pay-per-sale relationships and start getting results.</p>

                       
                          <a id="company-signup" href="/company/signup/" class="btn btn-primary btn-lg home-leader-btn">GET STARTED NOW - <i>It's Free</i></a>
                       
                </div>
                
            </div>
        </div>
      </div>



        <div class="home-row-2 home-row"> 
            <div class="container">
                <div class="col-sm-12">

                    <!--<div class="col-sm-2"><img src="/computer.png" alt=""></div>-->
                    <div class="col-sm-8">
                        <h3><b>How It Works</b></h3>
                        <ol class="lead">
                            <li>Sign up instantly and securely with your LinkedIn account.</li>
                            <li>Browse sales professionals specializing in your industry.</li>
                            <li>Connect with your favorites and work out the details.</li> 
                            <li>Start getting more sales!</li>
                        </ol>
                    </div>
                    <div class="col-sm-4">
                        <h3><b>Find Out More</b></h3>
                        <div class="well">{{>contactForm}}</div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="home-row-3 home-row"> 
            <div class="container">
                <div class="col-sm-12">
                    

                    <div class="media">
                          <div class="media-left">
                            <a href="/company/signup/">
                              <img class="media-object" src="/Money-Graph-128.png" alt="" />
                            </a>
                          </div>
                          <div class="media-body">
                            <h3><b>Tips</b></h3>
                            <p class="lead">It's up to you to decide your working arrangement. We recommend companies offer their approved sales professionals up to 100% of the commission.  Alternatively, offer to pay for piping hot leads.   </p>
                          </div>
                    </div>
                </div>
            </div>
        </div>

   
</template>