<template name="leadsOffer">
	<div class="page-header">
		<h1>Leads for LaunchTaffy</h1>
	</div>

	<p class="lead">
		LaunchTaffy is just getting started, and we're looking for companies launching new products or services who need help with sales.   
	</p>

	<p class="lead">
		In order to sign on new companies quickly and get valuable feedback, we're offering free signup for our early stage members to the LaunchTaffy platform.  Company membership will eventually require a paid plan.  
	</p>

	<p class="lead">
		While our company membership is free, we cannot offer sales commission, but we can offer to pay $50 for each qualified lead.
	</p>

	<h3><b>What is a qualified lead?</b></h3>
	<p class="lead">
		If you are an approved LaunchTaffy seller, you can <a href="/leads/">add qualified leads</a> for LaunchTaffy.  We define a qualified lead as a contact who you have talked to and introduced to the LaunchTaffy concept.  This contact has expressed interest, and will expect a call or email from someone on the LaunchTaffy team.  
	</p>

	<p class="lead">
		When we contact the lead and mention your name, we will be able to confirm the qualified lead.  If we can confirm, we will approve your lead right away and pay you!
	</p>

	<h3><b>How do I get paid?</b></h3>

	<p class="lead">
		We plan to offer payments within LaunchTaffy soon, but in the meantime you must be able to provide a way for us to pay you online via PayPal or other similar method.
	</p>

</template>