<template name="leadsOffer">
	<div class="page-header">
		<h1>LaunchTaffy Referral Program</h1>
	</div>


		<p class="lead">
			<b>Sign up Sales Professionals:</b> LaunchTaffy pays $10 for each sales professional you sign up, and $15 after they get their first sale or lead.  Use your own unique landing page:<br /><br />
			https://launchtaffy.com/sales/<b>youruniqueid</b>/lv2/
		</p>

		<p class="lead">
			<b>Sign up Companies:</b> LaunchTaffy pays $10 for each company you sign up, and $15 after they get their first sale or lead.  Use your own unique landing page:<br /><br />
			https://launchtaffy.com/company/<b>youruniqueid</b>/ref/
		</p>

		<p class="lead">
			View your signup report, updated in real time:  https://launchtaffy.com/affiliate-report/<b>youruniqueid</b>
		</p>

		<h3><b>How Do I Find My Unique ID?</b></h3>

		<p class="lead">
			Your unique id is a random string of numbers and letters that can be found in the URL on your profile page:<br />
			https://launchtaffy.com/profile/J2k4dHa0chNPxAvJH9<br /><br />
			In this example, the unique id is: J2k4dHa0chNPxAvJH9 
		</p>


		<h3><b>How Do I Get Paid?</b></h3>

		<p class="lead">
			We plan to offer payments within LaunchTaffy soon, but in the meantime you must be able to provide a way for us to pay you online via PayPal, Stripe or a similar service.  Payments are made on the 1st of every month.
		</p>

		<h3><b>How Do I Get Approved to Sell For LaunchTaffy?</b></h3>
		<p class="lead">
			If you do not already see LaunchTaffy on your list of 'my companies' on the dashboard, message us and we will get you approved right away.
		</p>



</template>