<template name="leadsOffer">
	<div class="page-header">
		<h1> Get Leads For LaunchTaffy, Get Paid For It</h1>
	</div>

		<p class="lead">
			LaunchTaffy's goal is to connect new companies with experienced sales professionals.   But, we're just getting started and don't have any companies &mdash; which means you have nothing to sell. You can help by providing us leads to companies with great new products or services.  
		</p>

		<p class="lead">
			In order to sign on new companies quickly and get valuable feedback, we're offering free signup for early stage members to the LaunchTaffy platform.  Company membership will eventually require a paid plan.  
		</p>

		<p class="lead">
			Since company membership is free, we cannot offer sales commissions yet, but we can pay you $50 for each qualified lead.
			Whether we close the deal or not, you’ll get paid. If you are an approved LaunchTaffy seller, you can <b><a href="/leads/">add qualified leads</a></b> for LaunchTaffy. 
		</p>

		<h3><b>What Is a Qualified Lead?</b></h3>
		<p class="lead">
			 We define a qualified lead as a contact who you have talked to and introduced to the LaunchTaffy concept. This contact has expressed interest and will expect a call or email from someone on the LaunchTaffy team.
		</p>

		<p class="lead">
			When we contact the lead and mention your name, we will be able to confirm the qualified lead. Once we confirm the lead, we will approve it right away and pay you within 24 hours!
		</p>

		<h3><b>How Do I Get Paid?</b></h3>

		<p class="lead">
			We plan to offer payments within LaunchTaffy soon, but in the meantime you must be able to provide a way for us to pay you online via PayPal, Stripe or a similar service.
		</p>

		<h3><b>How Do I Get Approved to Sell For LaunchTaffy?</b></h3>
		<p class="lead">
			As one of our charter sales professionals, you are already approved you to sell for LaunchTaffy. 
		</p>



</template>