<template name="salesLanding">
    <div class="jumbotron home">
       <div class="container">
            <div class="text-center">
                <h1 class="text-center">Sales Rockstars<br /> + <br />Super Products </h1>
                <h2>Get together and make some money.</h2>
                <div>
                    <a href="/sales/signup/" class="btn btn-primary btn-lg home-leader-btn">GET STARTED NOW! <br /><small><i>It's FREE</i></small></a>
                </div>
            </div>
       </div>
    </div>



        <div class="home-row-1 home-row">
            <div class="container">
                 <div class="col-sm-12">
                    <div class="media">
                          <div class="media-left" style="padding-right:30px">
                            <a href="/sales/signup/">
                              <img class="media-object" src="/Boss-128.png" alt="" />
                            </a>
                          </div>
                          <div class="media-body">
                            <h3><b>"Land and Expand" Has a Whole New Meaning With LaunchTaffy.</b></h3>
                            <p class="lead">Leverage the value of the customer network you've worked so hard for &ndash; with LaunchTaffy's platform, you can connect with companies that will most appeal to your network. You know your clients' needs better than anyone &mdash; they trust you and that trust was hard-earned.  </p>
                            <h3><b>It's a Win-Win</b></h3>
<p class="lead">LaunchTaffy is a platform for sales professionals and new companies. We help startups access experienced sales professionals who are interested in leveraging their existing networks to get more sales. You get to help your clients and get paid for doing it. <br /><br /><strong>No commitments, no contracts. 100% flexible. Choose the companies and products you like, get sales on your terms.</strong></p>
                          </div>
                     </div>
                </div>
            </div>
        </div>

        
        
        <div class="home-row-2 home-row"> 
            <div class="container">
                <div class="col-sm-12">
                    <!--<div class="col-sm-2"><img src="/computer.png" alt=""></div>-->
                    <div class="col-sm-10">
                        <h3><b>How It Works</b></h3>
                        <ol class="lead">
                            <li>Sign up instantly and securely with your LinkedIn account.</li>
                            <li>Browse startups and developers specializing in your industry.</li>
                            <li>Connect with your favorites and work out the details.</li> 
                            <li>Start getting more sales!</li>
                        </ol>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="home-row-3 home-row"> 
            <div class="container">
                <div class="col-sm-12">
                    

                    <div class="media">
                          <div class="media-left">
                            <a href="/sales/signup/">
                              <img class="media-object" src="/Money-Graph-128.png" alt="" />
                            </a>
                          </div>
                          <div class="media-body">
                            <h3><b>Tips</b></h3>
                            <p class="lead">It's up to you to decide your working arrangement. We recommend companies offer their approved sales professionals up to 100% of the commission.  Alternatively, companies can offer to pay for piping hot leads.   </p>
                          </div>
                    </div>
                </div>
            </div>
        </div>


   
</template>