<template name="salesLandingWithForm">

   <div class="jumbotron home">
       <div class="container">
            <div class="text-center">
                <h1 >Hey There, Sales Rockstar</h1>
                <h2>Start leveraging the value of your customer network.</h2>

            </div>
       </div>
    </div>

      <div class="home-row-1 home-row">
        <div class="container">
          <div class="col-sm-12">

                <!--<div class="col-sm-2"><img src="/computer.png" alt=""></div>-->
               <!-- <div class="col-sm-2">
                    <a href="/company/signup/">
                          <img class="media-object" src="/Tablet-Chart-128.png" alt="" />
                        </a>
                </div>-->
                <div class="col-sm-12">
                    <h3><b>"Land and Expand" Has a Whole New Meaning With LaunchTaffy.</b></h3>
                        <p class="lead">The trust you built with your customers was hard earned, and now they're ready to buy.   </p>

                        <div class="row">
                        <div class="col-md-6">
                          <p class="lead"> Connect with new companies and help your customers find more products and services to solve their business needs. </p>
                        </div>
                        {{>featuredCompaniesWidget}}
                      </div>
                        
                        <h3><b>Get More Value From Your Sales Efforts</b></h3>
                        <p class="lead"> Arrange commission-based sales and pay-per-lead relationships with companies who need help getting their products in front of the right customers.</p>

                        <p class="lead">No commitments, no contracts. 100% flexible. Choose the companies and products you like and start getting more sales on your terms.</p>

                       
                          <a href="/sales/signup/" class="btn btn-primary btn-lg home-leader-btn">GET STARTED NOW - <i>It's Free</i></a>
                       
                </div>
                
            </div>
        </div>
      </div>



        <div class="home-row-2 home-row"> 
            <div class="container">
                <div class="col-sm-12">

                    <!--<div class="col-sm-2"><img src="/computer.png" alt=""></div>-->
                    <div class="col-sm-8">
                        <h3><b>How It Works</b></h3>
                        <ol class="lead">
                            <li>Sign up instantly and securely.</li>
                            <li>Browse companies specializing in your industry.</li>
                            <li>Connect with your favorites and work out the details.</li> 
                            <li>Start getting more sales!</li>
                        </ol>
                    </div>
                    <div class="col-sm-4">
                        <h3><b>Find Out More</b></h3>
                        <div class="well">{{>contactForm}}</div>
                    </div>
                    
                </div>
            </div>
        </div>

   
</template>