<template name="salesLandingV2">

   <div class="jumbotron sales-landing">
       <div class="container">
            <div class="text-center">
                <h1 >Hey There, <br />Sales Rockstar</h1>
                <h2>Start leveraging the <br />value of your customer network.</h2>
                 <a href="/sales/signup/" class="btn btn-success btn-lg home-leader-btn landing-btn">GET STARTED NOW <br /><i>It's Free</i></a>
            </div>
       </div>
    </div>

      <div class="home-row-1 home-row home-row-alt">
        <div class="container">
          <div class="col-sm-12">

                <div class="col-sm-12">
                   

                       

                        <div class="row">
                        <div class="col-md-6">
                             <h3><b>Get More Value From Your Sales Efforts</b></h3>
                            <p class="lead"> Arrange commission-based sales and pay-per-lead relationships with companies who need help getting their products in front of the right customers.</p>
                        </div>
                        <br />
                        {{>featuredCompaniesWidget}}
                      </div>
                        
                       

                        <p class="lead">No commitments, no contracts. 100% flexible. Choose the companies and products you like and start getting more sales on your terms.</p>

                       

                       
                </div>
                
            </div>
        </div>
      </div>



        <div class="home-row-2 home-row"> 
            <div class="container">
                <div class="col-sm-12">

                    <!--<div class="col-sm-2"><img src="/computer.png" alt=""></div>-->
                    <div class="col-md-6">
                        <h3><b>How It Works</b></h3>
                        <ol class="lead">
                            <li>Sign up instantly and securely.</li>
                            <li>Browse companies specializing in your industry.</li>
                            <li>Connect and work out the details.</li> 
                            <li>Start getting more sales!</li>
                        </ol>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-4"><img src="/marketing_images/man2.jpg" alt="" class="img-responsive"/></div>
                                    <div class="col-xs-7">
                                    <p class="text-lrg"><i class="text-muted">"LaunchTaffy is a great new resource for independent sales professionals to connect with products and services any industry."</i></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

   
</template>