<template name="blogPosts">
	<div class="row">
		<div class="col-md-8 col-md-pull-2">{{> blogShow}}</div>
		<div class="col-md-4">
			{{# unless currentUser}}
				<br />
				<br />
					<div class="well well-info text-center">
						
						<div class="text-center"><img src="/Money-Graph-128.png" class="" /></div>
						<h3><b>Get More Sales with LaunchTaffy</b></h3>
						<p class="lead">Earn cash by connecting your contacts with new products and services.</p>
						<div class="text-center"><a class="btn btn-primary" href="/sales/blg/l">Get Started - <i>It's Free</i></a></div>
						
					</div>
			{{/unless}}
		</div>
	</div>


  
</template>