<template name="companyUserProfile">
  
  	{{# if thisCompany}}

  	{{>updateCompanyForm}}
  	
  	{{ else }}

    <div class="page-header company-header">
      <h1>{{company.name}} </h1>

       {{#if currentUserIsSales}}{{#if companyApproved}}<div class="btn-group add-sales"><a class="btn btn-primary btn-xs" href="/sales/"><i class="glyphicon glyphicon-plus"></i> Add a Sale</a><a class="btn btn-info btn-xs" href="/leads/"><i class="glyphicon glyphicon-plus"></i> Add a Lead</a></div>{{/if}}{{/if}}
    </div>


    <div class="media">
        
        <div class="pull-right">
            {{# if hasReviews this._id}}
              <div class="avg-score-list">
                <div id="averageScore" class="star-rating"></div>
                <span class="score">({{averageStarRating this._id}})</span>
              </div>
            {{/if}}

            {{#unless isFavorite }}
              {{#if currentUser}}
              <div><small><a id="addToCompanyFavorites" href="#"><i class="glyphicon glyphicon-heart text-danger"></i> Add to Favorites</a></small></div>
              {{/if}}
            {{/unless}}
        </div>
      
      <div class="media-left">
        <a href="/profile/{{_id}}">
           {{#if hasLogo }}

            {{#with logoImg}}
              <img class="media-object" src="{{this.url}}" alt="{{this.name}}" />
            {{/with}}

            {{else}}

                {{#if company.logoUrl}}
                    <img class="media-object" src="{{company.logoUrl}}" alt="" />
                    {{else}}
                    <img class="media-object" src="" alt="" style="width:60px;height:60px;background:#ccc;border:1px solid #666"/>
                {{/if}}
              
          
          {{/if}} 


        </a>

      </div>
      <div class="media-body">
        {{#if company.description}}
          <h5>Description</h5>
          <p><span class="pre">{{company.description}}</span></p>
        {{/if}}

        {{#if company.websiteUrl}}
        <h5>Company URL</h5>
        <p><a href="{{company.websiteUrl}}" target="_blank">{{company.websiteUrl}}</a></p>
        {{/if}}

        {{#if company.keywords}}
        <h5>Keywords</h5>
        <p>{{company.keywords}}</p>
        {{/if}}

          {{#if companyResources}}
          <h5>Company Resources</h5>
            <ul class="list-group">
              {{#if showPrivate}}
                {{#each companyResources}}
                    <li class="list-group-item"><a href="{{url}}">{{name}}</a></li>
                {{/each}}
              {{else}}
                {{#each companyResources}}
                      {{#unless private}}
                        <li><a href="{{url}}">{{name}}</a></li>
                      {{/unless}}
                {{/each}}
              {{/if}}
            </ul>
          {{/if}}


      </div>
    </div>


		{{#if currentUser}}
    <div class="m-t-lrg"><h3>Send Message</h3>
  		<form id="contactCompany">
  			<div class="form-group"><textarea id="message" class="form-control"></textarea></div>
  			<button class="btn btn-primary" type="submit">Submit</button> 
  		</form>
    </div>
		{{/if}}
  	{{/if}}

    {{#if allowedToReview this._id}}
    <hr class="separator" />
    {{else}}
        {{#if reviewsForUser this._id}}
      <hr class="separator" />
        {{/if}}
    {{/if}}


    {{# if allowedToReview this._id}} 
      {{>salesReviewForm}}
    {{/if}}

    {{#if reviewsForUser this._id}}
      {{# reviewsWrapper}}
          {{#each reviewsForUser this._id}}
             {{>reviewItem}}
          {{/each}}
      {{/ reviewsWrapper}}
    {{/if}}


</template>









