<template name="companySignup">
    <div class="jumbotron signup">
       <div class="container">
            <div>
                <h1 class="text-center">I'm a Company </h1>
                <h2 class="text-center">Gimme Some Sales!</h2>
                <p class="lead">
                 Do you need help getting your product in front of the right customers? We help connect you with killer sales professionals who can get you coveted key accounts quickly. Don't pay to fill desks, pay for results!  
                </p>
                <div>
                    {{>loginButtons}}
                </div>
            </div>
       </div>
    </div>
</template>

<template name="companyUserSignup">
  {{>loginButtons}}
  <!--
  <form id="companyUserSignup">
  <fieldset>
    <div class="form-group" data-required="true">
    	<label for="register-email" class="control-label">Email</label>
    	<input type="text" name="email" id="register-email" required="" class="form-control">    
  	</div>
    <div class="form-group" data-required="true">
      <label for="register-username" class="control-label">Username</label>
      <input type="text" name="username" id="register-username" required="" class="form-control">    
    </div>
  	<div class="form-group" data-required="true">
    	<label for="register-password" class="control-label">Password</label>
    	<input type="password" name="password" id="register-password" required="" class="form-control">    
  	</div>

  </fieldset>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>-->
</template>