<template name="company">
  
  	{{# if thisCompany}}

  	{{>updateCompanyForm}}
  	
  	{{ else }}

    <div class="page-header company-header">
      <h1>{{this.name}}</h1>
      {{#if currentUserIsSales}}{{#if companyApproved}}<div class="btn-group add-sales"><a class="btn btn-primary btn-xs" href="/sales/"><i class="glyphicon glyphicon-plus"></i> Add a Sale</a><a class="btn btn-info btn-xs" href="/leads/"><i class="glyphicon glyphicon-plus"></i> Add a Lead</a></div>{{/if}}{{/if}}
    </div>

      {{#unless isFavorite }}
      {{#if currentUser}}
      <small class="pull-right"><a id="addToCompanyFavorites" href="#"><i class="glyphicon glyphicon-heart-empty"></i>Add to Favorites</a></small>
      {{/if}}
      {{/unless}}


      <div class="media">
      <div class="media-left">
        <a href="/profile/{{_id}}">
          {{# if this.logoUrl}}
            <img class="media-object" src="{{this.logoUrl}}" alt="" />
            {{else}}
            <img class="media-object" src="" alt="" style="width:60px;height:60px;background:#ccc;border:1px solid #666"/>
          {{/if}}
        </a>
      </div>
      <div class="media-body">
        {{#if this.description}}
          <h5>Description</h5>
          <p>{{this.description}}</p>
        {{/if}}

        {{#if websiteUrl}}
        <h5>Company URL</h5>
        <p><a href="{{this.websiteUrl}}" target="_blank">{{this.websiteUrl}}</a></p>
        {{/if}}

        {{#if this.keywords}}
        <h5>Keywords</h5>
        <p>{{this.keywords}}</p>
        {{/if}}

          {{#if companyResources}}
          <h5>Company Resources</h5>
            <ul class="list-group">
              {{#if showPrivate}}
                {{#each companyResources}}
                    <li class="list-group-item"><a href="{{url}}">{{name}}</a></li>
                {{/each}}
              {{else}}
                {{#each companyResources}}
                      {{#unless private}}
                        <li><a href="{{url}}">{{name}}</a></li>
                      {{/unless}}
                {{/each}}
              {{/if}}
            </ul>
          {{/if}}


      </div>
    </div>


		{{#if currentUser}}
    <div><h3>Send Message</h3>
  		<form id="contactCompany">
  			<div class="form-group"><textarea id="message" class="form-control"></textarea></div>
  			<button class="btn btn-primary" type="submit">Submit</button> 
  		</form>
    </div>
		{{/if}}
  	{{/if}}

</template>

<template name="getLinkedinInfo">
    <div id="companyName" class="form-group">
      <label>
        {{#if userHasCompany}}
          Update Company Info From LinkedIn
        {{else}}
          Get Company Info From LinkedIn
        {{/if}}
        </label>
        <div class="input-group">
          <input type="text" value="" id="companyNameVal" placeholder="Company Name as shown in LinkedIn URL" class="form-control" />
          {{#if userHasCompany}}
          <span class="input-group-btn">
            <button class="btn btn-primary" id="updateCompanyInfo">Submit</button>
          </span>
          {{else}}
          <span class="input-group-btn">
              <button class="btn btn-primary" id="getCompanyInfo">Submit</button>
          </span>
          {{/if}}
        </div>

 
    </div>
</template>

<template name="updateCompanyForm">

  <div class="page-header">
    <h1>Profile</h1>
  </div>

  <div class="row">
    <div class="col-sm-8">

      {{#autoForm collection="Companies" id="updateCompanyForm" type="update" doc=this}}
        {{>companyProfile}}
      {{/autoForm}}
    </div>
    <div class="col-sm-4">
      <!--{{>userTypeSwitcher}}-->

      <!--{{>getLinkedinInfo}}-->
      <div class="well">{{>approvedSalesPeople}} </div>


    </div>
  </div>

  
</template>

<template name="updateCompanyFormOnProfile">

  <div class="page-header">
    <h1>Profile</h1> 
  </div>

  <div class="row">
    <div class="col-sm-8">
       {{#autoForm collection="Companies" id="updateCompanyForm" type="update" doc=usersCompany}}
        {{>companyProfile}}
      {{/autoForm}}
   </div>
    <div class="col-sm-4">
      <!--{{>userTypeSwitcher}}-->

      <!--{{>getLinkedinInfo}}-->
      <div class="well">{{>approvedSalesPeople}} </div>

    </div>
  </div>

 
</template>

<template name="companyProfile">
     <fieldset>
      <div class="form-group"><img class="logo pull-right" {{logoAtts}} /></div>
      {{> afQuickField name='name' value=this.name id='name'}}
      {{> afQuickField name='websiteUrl' value=this.websiteUrl}}
      {{> afQuickField name='logoUrl' value=this.logoUrl }}
      {{> afQuickField name='description' rows=6 value=this.description}}
      {{> afQuickField name='keywords' rows=4 value=this.keywords}}
      <h4 class="form-hd">Resources for Sales People</h4>
      <p>Provide links to resources such as documenation and training, demos, sales literature, whitepapers.  Anything that would be helpful for sales people to know about your company and products.</p>
      {{> afArrayField name='companyResources'}}
      {{> afFieldInput name='accountIsActive' value=this.accountIsActive}}
      {{> afFieldInput name='companyProfileStatus' type="hidden" value=this.companyProfileStatus}}   
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
</template>

<template name="insertCompanyForm">

  <!--{{>getLinkedinInfo}}-->

  <div class="page-header">
    <h1>Profile</h1> 
  </div>

  {{#autoForm collection="Companies" id="insertCompanyForm" type="insert"}}
  <fieldset>
    <legend>Company Info</legend>
    {{> afQuickField name='name' value=''}}
    {{> afQuickField name='websiteUrl' value=''}}
    {{> afQuickField name='logoUrl' placeholder='https://media.licdn.com/media/logo.png'}}
    {{> afQuickField name='description' rows=6 value=''}}
    {{> afQuickField name='keywords' rows=4}}
    <p>Provide links to resources such as documenation and training, demos, sales literature, whitepapers, etc.  <br />Anything that would be helpful to educate sales people about your company and products:</p>
    {{> afArrayField name='companyResources'}}
    {{> afFieldInput name='accountIsActive' type='hidden' value='true'}}

    {{> afFieldInput name='companyId' type='hidden' value=currentUser._id}}

  </fieldset>
  <button type="submit" class="btn btn-primary">Submit</button>
  {{/autoForm}}
</template>

<!--TODO: move this somewhere else-->

<template name="afArrayField_myArray">
  <div class="panel panel-default arrayFieldPanel">
    <div class="panel-heading">{{afFieldLabelText name=this.atts.name}}</div>
    {{#if afFieldIsInvalid name=this.atts.name}}
    <div class="panel-body has-error">
      <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
    </div>
    {{/if}}
    <ul class="list-group">
      {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
      <li class="list-group-item autoform-array-item">
        <div>
          <div class="autoform-remove-item-wrap">
            {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
            <button type="button" class="btn btn-default btn-xs autoform-remove-item"><span class="glyphicon glyphicon-minus"></span></button>
            {{/if}}
          </div>
          <div class="autoform-array-item-body">
            {{> afQuickField name=this.name label=false options=afOptionsFromSchema}}
          </div>
        </div>
      </li>
      {{/afEachArrayItem}}
      {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
      <li class="list-group-item">
        <button type="button" class="btn btn-info btn-xs autoform-add-item" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}"><span class="glyphicon glyphicon-plus"></span></button>
      </li>
      {{/if}}
    </ul>
  </div>
</template>





