<template name="companies">

	<div class="page-header">
	  <h1>Browse Companies</h1>
	</div>

	{{#if companies}}

			{{>companySearch}}

    		{{> pages}}
    		{{> pagesNav}}  <!--navigation-->

	{{else}}
		<div class="alert alert-info" role="alert"><strong>We're sorry,</strong> there are no active companies at this time. Check again soon.</div>
	{{/if}}
</template>

<template name="companyItem">
	<div class="panel panel-default">
		<div class="panel-body">
				
				<div class="media">
				  <div class="media-left">
				    <a href="/company/{{this._id}}" class="avatar">
				    {{#if logo}}
				    	<img class="media-object" src="{{logo}}" alt="{{name}}" />
					    {{else}}
					      {{# if logoUrl}}
					      	<img class="media-object" src="{{logoUrl}}" alt="{{name}}" />
					      	{{else}}
					      	<img class="media-object" src="" alt="" style="width:60px;height:60px;background:#ccc;border:1px solid #666"/>
					      {{/if}}
				     {{/if}}

				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><a href="/company/{{this._id}}">{{name}}</a> <span class="label label-primary label-mini">{{numSales}}</span> <span class="label label-info label-mini">{{numLeads}}</span>
				 
      					{{# if hasReviews this.companyId}}
				    	<div class="avg-score-list">
      						<div class="star-rating" id="averageScore-{{companyId}}"></div>
      						<span class="score">( {{averageStarRating this.companyId}}) </span>
      					</div>
      					{{/if}}



				    </h4>
				    	{{#if description}}
							<p class="pre">{{{descriptionTruncated}}}</p>
							{{else}}
							<p>No Description for this Company</p>
						{{/if}}
				  </div>
				</div>

		</div>
	</div>
</template>

<template name="companySearch">
	 <div class="well well-info search-results p-b-no">
    	<div class="form-group">{{> esInput index="companiesIndex" placeholder="Search..." class="form-control"}}</div>

    	{{#ifEsIsSearching index="companiesIndex"}}
	        <div><p>Searching...</p></div>
	    	{{else}}

	    {{#esEach index="companiesIndex"}}
	        {{>companyItem}}
	    {{/esEach}}

	    {{/ifEsIsSearching}}


	    <div class="text-center"><p>{{> esLoadMoreButton index="companiesIndex" class="btn btn-primary" content="Load More"}}</p></div>

	    {{#ifEsHasNoResults index="companiesIndex"}}
	        <div class="no-results"><p>No results found</p></div>
	    {{/ifEsHasNoResults}}

	</div>
</template>
