<template name="companyUserProfile">
  
  	{{# if thisCompany}}

  	{{>updateCompanyForm}}
  	
  	{{ else }}

    <div class="page-header company-header">
      <h1>{{company.name}} </h1>

       {{#if currentUserIsSales}}{{#if companyApproved}}<div class="btn-group add-sales"><a class="btn btn-primary btn-xs" href="/sales/"><i class="glyphicon glyphicon-plus"></i> Add a Sale</a><a class="btn btn-info btn-xs" href="/leads/"><i class="glyphicon glyphicon-plus"></i> Add a Lead</a></div>{{/if}}{{/if}}
    </div>

      {{#unless isFavorite }}
      {{#if currentUser}}
      <small class="pull-right"><a id="addToCompanyFavorites" href="#"><i class="glyphicon glyphicon-heart-empty"></i>Add to Favorites</a></small>
      {{/if}}
      {{/unless}}


      <div class="media">
      <div class="media-left">
        <a href="/profile/{{_id}}">
          {{# if company.logoUrl}}
            <img class="media-object" src="{{company.logoUrl}}" alt="" />
            {{else}}
            <img class="media-object" src="" alt="" style="width:60px;height:60px;background:#ccc;border:1px solid #666"/>
          {{/if}}
        </a>

        {{# if reviewExists this._id}}
          <div class="pull-right">
            <div id="averageScore" class="star-rating"></div>
            <small class="text-muted">Avg. rating: {{averageStarRating this._id}}</small> <br />
            <small>({{numReviews this._id}}) reviews</small>
            
          </div>
        {{/if}}

      </div>
      <div class="media-body">
        {{#if company.description}}
          <h5>Description</h5>
          <p><span class="pre">{{company.description}}</span></p>
        {{/if}}

        {{#if company.websiteUrl}}
        <h5>Company URL</h5>
        <p><a href="{{company.websiteUrl}}" target="_blank">{{company.websiteUrl}}</a></p>
        {{/if}}

        {{#if company.keywords}}
        <h5>Keywords</h5>
        <p>{{company.keywords}}</p>
        {{/if}}

          {{#if companyResources}}
          <h5>Company Resources</h5>
            <ul class="list-group">
              {{#if showPrivate}}
                {{#each companyResources}}
                    <li class="list-group-item"><a href="{{url}}">{{name}}</a></li>
                {{/each}}
              {{else}}
                {{#each companyResources}}
                      {{#unless private}}
                        <li><a href="{{url}}">{{name}}</a></li>
                      {{/unless}}
                {{/each}}
              {{/if}}
            </ul>
          {{/if}}


      </div>
    </div>


		{{#if currentUser}}
    <div><h3>Send Message</h3>
  		<form id="contactCompany">
  			<div class="form-group"><textarea id="message" class="form-control"></textarea></div>
  			<button class="btn btn-primary" type="submit">Submit</button> 
  		</form>
    </div>
		{{/if}}
  	{{/if}}

    <br />
    <br />
    <hr />
    <br />


    {{# unless reviewExists this._id}}  
      {{>salesReviewForm}}
    {{/unless}}

    {{#if reviewsForUser this._id}}
      {{# reviewsWrapper}}
          {{#each reviewsForUser this._id}}
             {{>reviewItem}}
          {{/each}}
      {{/ reviewsWrapper}}
    {{/if}}


</template>









