<template name="favorites">
	{{# if favoriteCompanies}}
	<h3>Favorite Companies</h3>
	<ul class="list-group">
	{{#each favoriteCompanies}}
		<li class="list-group-item"><a href="/company/{{_id}}">{{name}}</a> <a href="#" class="badge removeCompanyFavorite">remove</a></li>
	{{/each}}
	</ul>
	{{/if}}

	{{# if favoriteSalesPeople}}
	<h3>Favorite Sales People</h3>
	<ul class="list-group">
	{{#each favoriteSalesPeople}}
		<li class="list-group-item"><a href="/profile/{{_id}}">{{profile.firstName}} {{profile.lastName}}</a> <a href="#" class="badge removeSalesFavorite">remove</a></li>
	{{/each}}
	</ul>
	{{/if}}
</template>


