<template name="header">
 
  <nav class="header-nav navbar navbar-default" role="navigation">

      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/LaunchTaffy_3.png" alt="LaunchTaffy" class="img-responsive"></a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav navbar-right">
            <!--spacebars equivalent of Meter.user()-->

            {{#if currentUser}}
            {{#if userHasCompany}}
            
            <li><a href="/dashboard/">Dashboard</a></li>
            <!--<li><a href="/news/">News</a></li>-->
            {{#unless emptyCompanyProfile}}
            {{#if anyMessages}}<li><a id="inbox" href="/messages/">Inbox <span class="badge badge-info">{{numNewMessages}}</span></a></li>{{/if}}
            {{#unless noUserType}}<li><a href="/sales/">My Sales</a></li>{{/unless}}
            {{# if hasFavorites}}<li><a href="/favorites/{{currentUser._id}}">Favorites</a></li>{{/if}}
            {{/unless}}
            {{#unless noUserType}}<li><a href="/profile/{{currentUser._id}}">Profile</a></li>{{/unless}}
            {{#unless emptyCompanyProfile}}
            {{#unless noUserType}}
            <li><a href="/salespeople/">Browse Salespeople</a></li>
            <li><a href="/companies/">Browse Companies</a></li>
            {{/unless}}
            {{/unless}}
            {{/if}}
            <li><a href="#" class="logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
            
          </ul>

        </div>
      </div>

  </nav>

</template>

