<template name="home">
   {{#if currentUser}}
        {{> dashboard}}
    {{else}}
        <div class="col-md-6">
        	<div class="well">
        		<h3>SalesPeople</h3>
        		<p>Sign up as a salesperson so companies can connect with you.  It's free!</p>
        		<div class="text-center"><a href="/sales/signup/" class="btn btn-success btn-lg">Signup for Sales</a></div>
        	</div>
        </div>
        <div class="col-md-6">
        	<div class="well">
        		<h3>Companies</h3>
        		<p>Sign up to as a company so salespeople can connect with you.  It's free!</p>
        		<div class="text-center"><a href="/company/signup/" class="btn btn-success btn-lg">Signup for Company</a></div>
        	</div>
        </div>        
        
    {{/if}}

</template>


<template name="dashboard">
	{{# if emptyProfile }}<!--this needs to be updated.  think about how companies and salespeople profiles should differ-->
		{{>welcome}}
		{{else}}
			<p>Your profile is complete</p>
	{{/if}}
</template>

<template name="welcome">
    <h1>Welcome to SalesCrowd!</h1>
    {{#if noUserType}}
            {{>chooseUserType}}
    {{/if}}
    {{#if currentUserIsSales}}
    	<p>Head on over to create your profile so companies can find you.</p>
    	<p>
           <a class="btn btn-primary" href="/profile/{{currentUser._id}}">Profile</a>
        </p>
    {{/if}}

     {{#if currentUserIsCompany}}
        {{#unless userHasCompany}}
        <p class="lead">Enter your company name as it appears on your LinkedIn company URL (<i>https://www.linkedin.com/company/<b>yourcompanyname</b></i>) to automatically populate your company profile.  You can always change it later, but this makes getting set up a snap!</p>
            {{>getLinkedinInfo}}
        {{/unless}}
     {{/if}}
    
</template>

<template name="chooseUserType">
    <h1>Are you a company or a salesperson?</h1>
     
    <div class="col-md-6">
            <div class="well">
                <div class="text-center"><button class="btn btn-success" id="chooseSalesperson">Salesperson</button></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <div class="text-center"><button class="btn btn-success" id="chooseCompany">Company</button></div>
            </div>
        </div>   
</template>



