<template name="home">

        {{>unloggedinHome}} 

</template>

<template name="unloggedinHome">
    <div class="jumbotron home">
       <div class="container">
            <div class="text-center">
                <h1 class="text-center">Sales Rockstars<br /> + <br />Super Products </h1>
                <h2>Get together and make some money.</h2>
                <div>
                    <a href="/company/signup/" class="btn btn-info btn-lg home-leader-btn">I'm a Company<br /><small>Let's Do This!</small></a>
                    <a href="/sales/signup/" class="btn btn-primary btn-lg home-leader-btn">I'm a Sales Person<br /><small>Let's Do This!</small></a>
                </div>
            </div>
       </div>
    </div>



        <div class="home-row-1 home-row">
            <div class="container">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-xs-4"><br />
                             <a href="/company/signup/"><img src="/Tablet-Chart-128.png" alt="" class="img-responsive"></a>
                        </div>
                        <div class="col-xs-8">
                            <h3><b>Startups and Developers</b></h3>
                            <p class="lead">  Access a crowd of sales professionals who can connect your product with key potential customers. Pay for results rather than staffing a sales organization. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-xs-4"><br />
                             <a href="/sales/signup/"><img src="/Boss-128.png" alt="" class="img-responsive"></a>
                        </div>
                        <div class="col-sm-8">
                            <h3><b>Sales Professionals</b></h3>
                            <p class="lead">Leverage the existing relationships you've worked so hard for &ndash; earn cash by connecting your contacts with new products and services.  
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="home-row-2 home-row"> 
            <div class="container">
                <div class="col-sm-12">
                    <!--<div class="col-sm-2"><img src="/computer.png" alt=""></div>-->
                    <div class="col-sm-10">
                        <h3><b>How It Works</b></h3>
                        <ol class="lead lead-bullets">
                            <li>Sign up instantly and securely with your LinkedIn account.</li>
                            <li>Browse sales professionals and companies specializing in your industry.</li>
                            <li>Connect with your favorites and work out the details.</li> 
                        </ol>
                    </div>
                    
                </div>
            </div>
        </div>

          <div class="home-row-3 home-row"> 
            <div class="container">
                <div class="col-sm-12">

                    <div class="media">
                          <div class="media-left">

                              <img class="media-object" src="/Money-Graph-128.png" alt="" />

                          </div>
                          <div class="media-body">
                            <h3><b>Tips</b></h3>
                            <p class="lead">It's up to you to decide your working arrangement. We recommend companies offer their approved sales professionals up to 100% of the commission.  Alternatively, companies can offer to pay for piping hot leads.   </p>
                             <p class="lead">More companies fail from a <em>lack of customers</em> than from a failure in product development. Don't let this happen to you!</p>
                          </div>
                    </div>
                </div>
            </div>
        </div>


   
</template>


<template name="dashboard">
    <div class="page-header">
        <h1>Dashboard</h1>
    </div>
    {{#if noUserType}}
            {{>chooseUserType}}
    {{else}}     
    <div class="row">
        <div class="col-sm-12">
            {{#if emptyProfile }}<!--this needs to be updated.  think about how companies and salespeople profiles should differ-->
                {{>welcome}}
            {{/if}}
        </div>
        <div class="col-sm-6">
            {{>allnews}}
        </div>
        
        <div class="col-sm-6">
                {{#if currentUserIsSales}}
                    
                    <div class="well">
                        {{>approvedCompanies}} 
                    </div>


                    <div class="well">
                        <h4><a href="/sales/">Sales</a> <small>(Pending Approval)</small></h4>
                        {{>salesTypeSalesWidget}}
                    </div>
                    
                
                {{/if}}

                {{#if currentUserIsCompany}}
                    {{# unless userHasCompany }}
                         <p class="lead">To get started, enter your company name as it appears on the end of your LinkedIn company URL </p><p class="lead"><i>https://www.linkedin.com/company/<b>yourcompanyname</b></i></p>
                        <div class="form-group">
                            <input class="form-control" type="text" value="" id="companyNameVal" placeholder="company-name"/>
                        </div>
                        <button class="btn btn-primary" id="getCompanyInfo">Get company Info from LinkedIn</button>
                    {{else}}
                    {{#if emptyCompanyProfile}}
                    <p class="lead">Don't forget to update your <a href="/profile/{{currentUser._id}}/">profile</a> and add some resources for sales professionals to learn about your products.   </p>
                    {{else}}
                    <div class="well">
                        {{>approvedSalesPeople}}
                    </div>
                    <div class="well">
                            <h4><a href="/sales/">Sales</a> <small>(Pending Approval)</small></h4>
                            {{>companyTypeSalesWidget}}
                    </div>
                    {{/if}}
                    {{/unless}}
                {{/if}}
            </div>

    </div>
	{{/if}}
</template>

<template name="welcome">
    {{#if currentUserIsSales}}
    	<p class="lead">Don't forget to update your <a href="/profile/{{currentUser._id}}">profile!</a><br /> Highlight your sales accomplishments, key accounts, industries, and valuable connections. </p>
    {{/if}} 
</template>

<template name="chooseUserType">
    <p class="lead">We still need to know a bit more about you before we can continue.</p>
    <div class="col-md-4"><button class="btn btn-info btn-lg" id="chooseSalesperson">I'm a Sales Person</button></div>
    <div class="col-md-4"><button class="btn btn-primary btn-lg" id="chooseCompany">I'm a Company</button></div>
</template>



