<template name="approvedCompanies">
	<h4>My Companies</h4>
    {{#if approvedCompanies}}
    <ul class="list-group">
    {{#each approvedCompanies}}
        <li class="list-group-item"><a href="/company/{{_id}}">{{name}}</a></li>
    {{/each}}
    </ul>
    {{/if}}
    {{#unless approvedCompanies}}
    <p>Message <a href="/companies/">companies</a> you're interested in to start the process of becoming an approved seller. </p>
    {{/unless}}
</template>

<template name="approvedSalesPeople">
	<h4>My Approved Sales Professionals </h4>
  {{#if approvedSalesPeople}}
      <ul class="list-group">
      {{#each approvedSalesPeople}}
        <li class="list-group-item"><a href="/profile/{{_id}}">{{profile.firstName}} {{profile.lastName}}</a></li>
      {{/each}}
      </ul>
  {{/if}}
  {{#unless approvedSalesPeople}}
    <p>Message <a href="/salespeople/">sales professionals</a> you're interested working with. </p>
  {{/unless}}
</template>

<template name="featuredSalesPeople">
    <ul>
    {{#each featuredSalesPeople}}
        <li><a href="/profile/{{_id}}">{{profile.firstName}}</a> - {{_id}}</li>
    {{/each}}
    </ul>

</template>

<template name="featuredCompanies">
    <ul>
    {{#each featuredCompanies}}
        <li><a href="/company/{{_id}}">{{name}}</a> - {{_id}}</li>
    {{/each}}
    </ul>
</template>

<template name="featuredSalesPeopleWidget">
    {{#if featuredSalesPeople}}

        <div class="col-md-6">
             

                    <div id="featuredSalesWidget" class="well">
                    {{#each featuredSalesPeople}}
                        <div class="media">
                              <div class="media-left">

                                    <img class="media-object img-circle" src="{{profile.pictureUrl}}" alt="{{profile.firstName}} {{profile.lastName}} Picture" style="width:60px"/>
                              </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{profile.firstName}} {{lastName}}</h4>
                                <p>{{profile.headline}}</p>
                            </div>
                        </div>
                    {{/each}}
                    </div>
    
          </div>
    {{/if}}
</template>


<template name="featuredCompaniesWidget">
    {{#if featuredCompanies}}

        <div class="col-md-6">
             

                    <div id="featuredCompaniesWidget" class="well">
                    {{#each featuredCompanies}}
                        <div class="media">
                              <div class="media-left">

                                    <img class="media-object" src="{{logoUrl}}" alt="{{name}} Logo" style="width:90px"/>
                              </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{name}}</h4>
                                <p>{{descriptionTruncated}}</p>
                            </div>
                        </div>
                    {{/each}}
                    </div>
    
          </div>
    {{/if}}
</template>


        