<template name="newQuiz">

	<form id="quizForm">
		<div class="form-group">
			<label>Quiz Title</label>
			<input class="form-control" type="text" placeholder="" id="quizTitle" />
		</div>

		<div class="question-group">
			<div class="form-group">
				<label>Question</label>
				<input class="form-control quiz-question" type="txt" placeholder="" />
			</div>
			<div class="form-inline">
			<div class="form-group">
				<label>Possible Answers</label>
				Correct answer<input type="radio" name="quiz-answer" /><input class="form-control quiz-answer" type="text" placeholder="" />
			</div>
		</div>
		</div>

		<button id="add-question" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-plus"></i> Add question</button>


		

		<button type="submit" class="btn btn-primary">Submit</button>
		
	</form>
</template>

<!--
	`{
"introduction":"This quiz tests you about foo and goo",
"questions":[
{"question":"Why is the sky blue?",
"answers":["Unicorns","Fairies","Boring Science","Kittens"],
"correct":2},
{"question":"Why are kittens so cute?",
"answers":["Magic","Fur","Meow","More Kittens!"],
"correct":3}
]
}
-->