<template name="addNews">
	{{> quickForm collection="News" id="insertNewsForm" type="insert"}}
</template>

<template name="news">
	<div class="page-header">
		<h1>News</h1>
	</div>
	{{>addNews}}
	{{>editnews}}
	{{>addFeaturedSalesPeople}}
	{{>featuredSalesPeople}}

	{{>massEmail}}
</template>

<template name="editnews">
	{{#each news}}
	<ul>
		<li><a href="/news/{{_id}}">{{date}} - {{heading}}</a> {{#if isActive}}<span class="label label-success">active</span>{{else}}<span class="label label-default">archived</span>{{/if}}</li>
	</ul>
	{{/each}}
</template>

<template name="allnews">
	{{#each news}}
	<div class="well well-info">
		<h4>{{heading}}</h4>
		{{{text}}}
	</div>
	{{/each}}
</template>

<template name="updateNews">
	{{> quickForm collection="News" id="updateNewsForm" type="update" doc=this}}
</template>

<template name="addFeaturedSalesPeople">
	<form>
		<legend>Featured Sales Professionals</legend>
		<div class="form-group">
		<input class="form-control" type="text" id="addfeaturedSalesPerson" value=""><button type="submit" class="btn btn-primary" id="submit">Add</button>
		<button type="button" class="btn btn-danger" id="remove">Remove</button>
		</div>
	</form>
</template>



<template name="massEmail">

	<h3>Mass Email</h3>
	
	<form>
		<div class="form-group">
			<label>Emails:</label>
			<textarea class="form-control" id="emails" placeholder="Separate emails by commas.  If sending to all users, leave this blank."></textarea>
		</div>
		<div class="form-group">
			<label>Subject:</label>
			<input class="form-control" id="subject" type="text" placeholder="subject" />
		</div>
		<div class="form-group">
			<label>Message:</label>
			<textarea class="form-control" id="message" rows="10"></textarea>
		</div>
		<!--<button type="submit" class="btn btn-primary">Submit</button>-->
		<button id="allUsers" class="btn btn-sm btn-primary">Send to all users</button>
		<button id="specificEmails" class="btn btn-sm btn-info">Send to specific emails</button>
	</form>
</template>
