<template name="addNews">
	{{> quickForm collection="News" id="insertNewsForm" type="insert"}}
</template>

<template name="news">
	{{>addNews}}
	{{>editnews}}
</template>

<template name="editnews">
	{{#each news}}
	<ul>
		<li><a href="/news/{{_id}}">{{date}} - {{heading}}</a> {{#if isActive}}<span class="label label-success">active</span>{{else}}<span class="label label-default">archived</span>{{/if}}</li>
	</ul>
	{{/each}}
</template>

<template name="allnews">
	{{#each news}}
	<div class="well">
		<h4>{{heading}}</h4>
		{{{text}}}
	</div>
	{{/each}}
</template>

<template name="updateNews">
	{{> quickForm collection="News" id="updateNewsForm" type="update" doc=this}}
</template>
