<template name="salesReviewForm">
	<h3>Leave Review</h3>
	{{#autoForm collection="Reviews" id="insertReviewForm" type="insert"}}

		{{> afQuickField name='rating' value='' ratyOptions=ratyOptions}}
		{{> afQuickField name='review' rows=4 value=''}}
		{{> afQuickField name='userId' value=this._id type='hidden'}}
		{{> afQuickField name='commenterId' value=currentUser._id type='hidden'}}
		<button type="submit" class="btn btn-primary">Submit</button>
	{{/autoForm}}
</template>

<template name="companyReviewForm">
	<h3>Leave Review</h3>
	{{#autoForm collection="Reviews" id="insertReviewForm" type="insert"}}

		{{> afQuickField name='rating' value='' ratyOptions=ratyOptions}}
		{{> afQuickField name='review' rows=4 value=''}}
		{{> afQuickField name='userId' value=this.companyId type='hidden'}}
		{{> afQuickField name='commenterId' value=currentUser._id type='hidden'}}
		<button type="submit" class="btn btn-primary">Submit</button>
	{{/autoForm}}
</template>

<template name="reviewItem">
	<li>
		{{# if reviewerImg }}<img src="{{reviewerImg}}" /><h4>{{reviewerName}}</h4>{{/if}}
		<div id="starRating-{{_id}}" class="star-rating"></div>
		{{# if review }}<div class="pre">{{review}}</div>{{/if}}
	</li>
</template>


<template name="reviewsWrapper">
	<h3>Reviews</h3>
	  <ul>

	      {{> UI.contentBlock}}

	  </ul>
</template>


