
<template name="salespeople">

	<div class="page-header">
	  <h1>Browse Sales Professionals</h1>
	</div>

	{{#if salespeople}}

			{{>salesPeopleSearch}}
			
			{{> pages}}
    		{{> pagesNav}}  <!--navigation-->

	{{else}}
		<div class="alert alert-info" role="alert"><strong>We're sorry,</strong> there are no active sales professionals at this time. Check again soon.</div>

	{{/if}}


</template>

<template name="salespeopleItem">

	<div class="panel panel-default">
				
		<div class="panel-body">
			
				<div class="media">
				  <div class="media-left">
				    <a href="/profile/{{_id}}" class="avatar">
				      {{# if profile.pictureUrl}}
				      	<img class="media-object img-circle" src="{{profile.pictureUrl}}" alt="{{profile.firstName}} {{profile.lastName}} Picture" />
				      	{{else}}
				      	<img class="media-object" style="width:80px" src="/blank_person.png" alt="{{profile.firstName}} {{profile.lastName}} Picture" />
				      {{/if}}
				    </a>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"><a href="/profile/{{_id}}">{{profile.firstName}} {{profile.lastName}}</a> <span class="label label-primary label-mini">{{numSales}}</span> <span class="label label-info label-mini">{{numLeads}}</span>

				    	{{# if hasReviews this._id}}
				    	<div class="avg-score-list">
      						<div class="star-rating" id="averageScore-{{_id}}"></div>
      						<span class="score">( {{averageStarRating this._id}}) </span>
      					</div>
      					{{/if}}

				    </h4>
				    	{{#if profile.headline}}
						<p>{{profile.headline}}</p>
						{{/if}}
				  </div>
				</div>

		</div>
	</div>

</template>

<template name="salesPeopleSearch">
    <div class="form-group">{{> esInput index="salesPeopleIndex" placeholder="Search..." class="form-control"}}</div>

    {{#esEach index="salesPeopleIndex"}}
        {{>salespeopleItem}}
    {{/esEach}}


    {{> esLoadMoreButton index="salesPeopleIndex"}}

    {{#ifEsHasNoResults index="salesPeopleIndex"}}
        <div class="no-results">No results found!</div>
    {{/ifEsHasNoResults}}

    {{#ifEsIsSearching index="salesPeopleIndex"}}
            <div>Loading...</div>
    {{/ifEsIsSearching}}
</template>







