<template name="salesProfile">
		{{>updateSalesForm}}
</template>

<template name="updateSalesForm">
	<form id="updateSalesForm"> 
		<fieldset>
		<div class="form-group">
	    	<label for="fullName" class="control-label">Full Name</label>
	    	<input type="text" name="email" id="fullName" class="form-control" value="{{this.profile.fullName}}"/>
  		</div>
  		<div class="form-group">
	    	<label for="bio" class="control-label">Bio</label>
	    	<textarea id="bio" class="form-control">{{this.profile.bio}}</textarea>
  		</div>
  		<div class="form-group">
	    	<label for="website" class="control-label">LinkedIn or Website</label>
	    	<input type="url" name="website" id="website" class="form-control" value="{{this.profile.website}}"/>
  		</div>
  		</fieldset>
  		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

</template>