<template name="salesSignup">
  <h1>new salesperson</h1>
  {{>userSignup}}
</template>

<!--<template name="userSignup">
  {{> quickForm collection="Meteor.users" id="userSignup" type="insert"}}
</template>-->

<template name="userSignup">
  <form id="userSignup">
  <fieldset>
    <div class="form-group" data-required="true">
    	<label for="register-email" class="control-label">Email</label>
    	<input type="text" name="email" id="register-email" required="" class="form-control">    
  	</div>
    <div class="form-group" data-required="true">
      <label for="register-username" class="control-label">Username</label>
      <input type="text" name="username" id="register-username" required="" class="form-control">    
    </div>
  	<div class="form-group" data-required="true">
    	<label for="register-password" class="control-label">Password</label>
    	<input type="password" name="password" id="register-password" required="" class="form-control">    
  	</div>

  </fieldset>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</template>