<template name="salespeople">

	{{#if salespeople}}
		{{#each salespeople}}

			<div class="panel panel-default">
				<div class="panel-heading">
			        <h3 class="panel-title"><a href="/profile/{{_id}}">{{username}}</a></h3>
			    </div>
				<div class="panel-body">
					
						{{#if profile.bio}}
						<div>{{profile.bio}}</div>
						{{else}}
							<p>No Bio for this Sales Person</p>
						{{/if}}

				</div>
			</div>

		{{/each}}

		{{else}}
			<div class="alert alert-info" role="alert"><strong>We're sorry,</strong> there are no active salespeople at this time. Check again soon.</div>

		{{/if}}


</template>



