<template name="sales">

	<div class="page-header">
	  <h1>My Sales</h1>
	</div>

	{{#if currentUserIsCompany}}
		{{>companyTypeSales}}
	{{/if}}

	{{#if currentUserIsSales}}
		{{>salesTypeSales}}
	{{/if}}

</template>

<template name="companyTypeSales">
	<div class="row">
		<div class="col-sm-12">
			{{# if companyTypeSales}}
    			{{> reactiveTable settings=settings collection=companyTypeSales class="table table-striped table-hover"}}
    		{{else}}
    		<div class="alert alert-info">You have no sales yet.</div>
    		{{/if}}
		</div>
	</div>
</template>

<template name="salesTypeSales">
	<div class="row">
		<div class="col-sm-12">
			{{# if salesTypeSales}}
				{{> reactiveTable settings=settings collection=salesTypeSales class="table table-striped table-hover" rowsPerPage=5}}
			{{/if}}
			{{>addSale}}
		</div>
	</div>
</template>

<template name="salesTypeSalesWidget">
	{{#if sales}}
    {{> reactiveTable settings=settings collection=sales class="table table-striped table-hover" rowsPerPage=5 showNavigation='never' showFilter=false}}
    {{else}}
    <p>You have no pending sales.  Time to pick up the phone!</p>
    {{/if}}
</template>

<template name="companyTypeSalesWidget">
	{{#if sales}}
    {{> reactiveTable settings=settings collection=sales class="table table-striped table-hover" rowsPerPage=5 showNavigation='never' showFilter=false}}
    {{else}}
    <p>You have no pending sales.</p>
    {{/if}}
</template>


<template name="salesItem">
	<div class="panel panel-default">
		<div class="panel-body">
			<h4>{{leadCompanyName}} <small><span class="label label-info">{{status}}</span></small></h4>
			<p><b>Lead Contact: </b>{{leadName}} {{leadEmail}} {{leadPhone}}</p>
			<p><b>Sale Details: </b>{{productName}} {{productPrice}} / {{productBillingFrequency}}</p>
			<p><b>Sales Person: </b><a href="/profile/{{salesPersonId}}">{{salesPersonName}}</a></p>
			<p><b>Company: </b> <a href="/company/{{companyId}}">{{companyName}}</a></p>

		</div>
	</div>
	
</template>

<template name="sale">

	<!--<div class="form-group">
		<label class="control-label">Update Sale Status</label>
		<select class="form-control">
			<option value="approved">approved</option>
			<option value="dispute">dispute</option>
		</select>
	</div>-->

	<div class="panel panel-default">
		<div class="panel-body">
			{{#if currentUserIsCompany}}{{#if statusIs 'pending'}}<button class="btn btn-primary pull-right" id="approveSale">approve this sale</button>{{/if}}{{/if}}
			{{#if currentUserIsSales}}{{#if statusIs 'approved'}}<button class="btn btn-primary pull-right" id="paidSale">Mark as Paid</button>{{/if}}{{/if}}
			<h4>{{leadCompanyName}} <small><span class="label label-{{statusLabel}}">{{status}}</span></small></h4>
			<p><b>Lead Contact: </b>{{leadName}} {{leadEmail}} {{leadPhone}}</p>
			<p><b>Sale Details: </b>{{productName}} {{productPrice}} / {{productBillingFrequency}}</p>
			<p><b>Sales Person: </b><a href="/profile/{{salesPersonId}}">{{salesPersonName}}</a></p>
			<p><b>Company: </b> <a href="/company/{{companyId}}">{{companyName}}</a></p>
		</div>
	</div>
</template>


<template name="addSale">
	{{#if approvedCompaniesNames}}
	  {{#autoForm collection="Sales" id="addSaleForm" type="insert"}}
	  <fieldset>
	    <legend>Add Sale</legend>

	    {{> afQuickField name='leadCompanyName' }}
	    {{> afQuickField name='leadName' }}
	    {{> afQuickField name='leadEmail' }}
	    {{> afQuickField name='leadPhone' }}
	    {{> afQuickField name='productName' }}
	    {{> afQuickField name='productPrice' }}

	    {{> afQuickField name="productBillingFrequency" options=billingOptions }}

	    {{> afQuickField id="companyId" name="companyId" options=approvedCompaniesNames }}
	    
	    {{> afFieldInput name='salesPersonId' type='hidden' value=currentUser._id}}
	    {{> afFieldInput name='salesPersonName' type='hidden' value=salesPersonFullName}}
	    {{> afFieldInput name='status' type='hidden' value='pending'}}
	    {{> afFieldInput name='timeStamp' type='hidden' value=timeStamp}}
	  </fieldset>
	  <button type="submit" class="btn btn-primary">Submit</button>
	  {{/autoForm}}
	  {{else}}
	  <div class="alert alert-info">You must be approved to sell for at least one company before you can report sales.</div>
	{{/if}}

</template>



