<template name="salesProfile">
		View sales profile
		{{#if currentUser}}
		<form id="contactSalesPerson">Send Message
			<div class="form-group"><textarea id="message" class="form-control"></textarea></div>
			<button class="btn btn-primary" type="submit">Submit</button> 
		</form>
		{{/if}}
</template>

<template name="updateSalesForm">
	<form id="updateSalesForm"> 
		<fieldset>
  		<div class="form-group">
	    	<label for="bio" class="control-label">Bio</label>
	    	<textarea id="bio" class="form-control">{{this.profile.bio}}</textarea>
  		</div>
  		<div class="form-group">
	    	<label for="website" class="control-label">LinkedIn or Website</label>
	    	<input type="url" name="website" id="website" class="form-control" value="{{this.profile.website}}"/>
  		</div>
  		</fieldset>
  		<input type="hidden" name="profileStatus" id="profileStatus" value="{{this.profile.profileStatus}}" />
  		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

</template>