<template name="terms">
	<div class="page-header">
		<h1>Terms &amp; Conditions</h1>
	</div>
	<div class="col-md-12">
		<div class="row">
			<p>Your email address and any other personal identifying information that you provide will not be displayed on the site and will not, under any circumstances, be distributed to any third party organization. Further, users of this site should not make public the email address of another user without their express permission.</p>
<p>Once you have registered on LaunchTaffy your email address will be used only to send you our notifications and/or to alert you to any site event about which you have explicitly requested to be notified.</p>
<b>Use of the Site</b> 
<p>The messaging facilities are expressly for posting and answering relevant questions and comments. They must not be used to distribute spam, advertisements or similar messages. We have the right to remove or modify any posts that we feel violate our policies, whether stated, implied or otherwise.</p><b>Disclaimer</b> 
<p>All content and code that appears on LaunchTaffy.com is edited and technically verified as far as possible. However, use of information obtained from LaunchTaffy.com is at your own risk. LaunchTaffy.com, its owners, affiliates, partners and contributing authors cannot be held responsible for any damage or problems that arise from using the information on this site.</p>
<p>Occasionally, the site will link to other web sites, over whose content we have no control. Therefore LaunchTaffy.com can accept no liability for the content found on these linked sites. However, we will remove links to material that we feel is inappropriate.</p>

<p>LaunchTaffy is not responsible for or liable for any business relationships, contracts, or transactions between our registered users.</p>

		</div>
	</div>
</template>