<template name="thread">
	<div class="thread well">
            <small><span class="pull-right"><a href="#" class="glyphicon glyphicon-trash delete-msg" title="delete"></a> <a href="#" class="glyphicon glyphicon glyphicon-folder-close archive-msg" title="archive"></a></span></small>
            <h5><b>{{toId}} and {{fromId}}:</b></h5>
            {{#each messages}}
            <div class="msg">
                <b><a href="/profile/{{from}}">{{fromId}}</a>:</b> {{message}}
            </div>
            {{/each}}
            {{>reply}}
        </div>
</template>